{% extends 'base.html' %}

{% block TITLE %}
ADMIN
{% endblock %}
<h3 class="text-center">PATIENTS</h3>
<hr>

{% block body %}
    <table>
        <tr>
            <td><form action="/ShowAllPatients/" method="post">
                <button type="submit">ShowAllPatients</button>
            </form></td>
            <td><form action="/ShowAllUsers/" method="post">
                <button type="submit">ShowAllUsers</button>
            </form></td>
            <td><form action="/Exit/" method="post">
                <button type="submit">Exit</button>
            </form></td>
        </tr>
    </table>

    {% if sel == 'p' %}
        {% set display_pat = 'visible' %}
        {% set display_user = 'none' %}
    {% else %}
        {% set display_pat = 'none' %}
        {% set display_user = 'visible' %}
    {% endif %}

    <table style="display:{{display}}" class="table table-hover table-inverse">
        <thead class="thead-inverse">
        <tr style="display:{{display_pat}}">
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>Weight</th>
            <th>Height</th>
        </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr style="display:{{display_pat}}">
                <td scope="row">{{ patient[0] }}</td>
                <td scope="row">{{ patient[1] }}</td>
                <td scope="row">{{ patient[2] }}</td>
                <td scope="row">{{ patient[3] }}</td>
                <td scope="row">{{ patient[4] }}</td>
                <td scope="row">{{ patient[5] }}</td>
                <td><a name="del_patient" id="del_patient" class="btn btn-danger" href="{{ url_for('del_patient', patient_id=patient[0]) }}" role="button">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table style="display:{{display}}" class="table table-hover table-inverse">
        <thead class="thead-inverse">
            <tr style="display:{{display_user}}">
                <th>ID</th>
                <th>NAME</th>
                <th>E-MAIL</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr style="display:{{display_user}}">
                <td scope="row">{{ user[0] }}</td>
                <td scope="row">{{ user[1] }}</td>
                <td scope="row">{{ user[3] }}</td>
                <td><a name="del_user" id="del_user" class="btn btn-danger" href="{{ url_for('del_user', user_id=user[0]) }}" role="button">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
