{% extends 'base.html' %}

{% block TITLE %}
ADMIN
{% endblock %}
<h3 class="text-center">PATIENTS</h3>
<hr>
{% block body %}
    <table class="table table-hover table-inverse">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>AGE</th>
            <th>Weight</th>
            <th>Height</th>
        </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td scope="row">{{ patient[0] }}</td>
                <td scope="row">{{ patient[1] }}</td>
                <td scope="row">{{ patient[2] }}</td>
                <td scope="row">{{ patient[3] }}</td>
                <td scope="row">{{ patient[4] }}</td>
                <td><a name="del_patient" id="del_patient" class="btn btn-danger" href="{{ url_for('del_patient', patient_id=patient[0]) }}" role="button">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
