{% extends 'base.html' %}

{% block TITLE %}
ADMIN
{% endblock %}

{% block body %}
ADMIN
{% endblock %}
















<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--	<title>Pre-Diagnosis</title>-->
<!--    <meta charset="utf-8" />-->
<!--</head>-->
<!--<body>-->
<!--	<h1 style="text-align:center;"> Patient Pre-Diagnosis System </h1>-->



<!--    <form action="/ShowAll/" method="post">-->
<!--		<button type="submit">Submit</button>-->
<!--	</form>-->

<!--<table style="width:100%">-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Name</th>-->
<!--    <th>Age</th>-->
<!--    <th></th>-->
<!--  </tr>-->
<!--    {% for patient in patients %}-->
<!--      <tr>-->
<!--        <td><form action="/DeletePatient/" method="post">-->
<!--		<button type="submit">Delete</button>-->
<!--	    </form></td>-->
<!--        <td>{{ patient[0] }}</td>-->
<!--        <td>{{ patient[1] }}</td>-->
<!--        <td>{{ patient[2] }}</td>-->
<!--      </tr>-->
<!--    {% endfor %}-->
<!--</table>-->

<!--</body>-->
<!--</html>-->


