{% extends 'base.html' %}

{% block TITLE %}
HOME
{% endblock %}
	
 {% block body %}   
 
<body>
<p align = "Center"><b>Welcome to Pre-Diagnosis system!</b>
Prevent misdiagnosis,<br>
Shorten the inspection time,<br>
Better predictabilitiy thanks to seeing family diseases,<br>
Easy monitoring of patient characteristics,</p><br><br>

<p align = "Center">And more in Pre-Diagnosis.</p>


    <div class="container" style="justify-content: center" >
        <div class="row" >
            <div class="col-sm-6">
                <ul>
                    <li class="col-sm-6"><a href="/login" class="btn form-control btn-success">Login</a></li>
                    <li class="col-sm-6"><a href="/register" class="btn form-control btn-primary">Register</a></li>
                </ul>
            </div>
        </div>
    </div>


<!-- Latest compiled and minified JavaScript style="margin-top: 40px"-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
{% endblock %}
