{% extends 'base.html' %}

{% block TITLE %}
HOME
{% endblock %}
	
 {% block body %}   
 
<body>
<b><p align = 3px>Welcome to Pre-Diagnosis system!
<blockquote>Prevent misdiagnosis,</blockquote>
<blockquote>Shorten the inspection time,</blockquote>
<blockquote>Better predictabilitiy thanks to seeing family diseases,</blockquote>
<blockquote>Easy monitoring of patient characteristics,</blockquote></p></b><br><br>

<p align = 3px><blockquote>And more in Pre-Diagnosis.</blockquote></p>


    <div class="container">
        <div class="row" style="margin-top: 40px">
            <div class="col-sm-6">
                <ul>
                    <li class="col-sm-6"><a href="/login" class="btn form-control btn-success">Login</a></li>
                    <li class="col-sm-6"><a href="/register" class="btn form-control btn-primary">Register</a></li>
                </ul>
            </div>
        </div>
    </div>


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
{% endblock %}
